name: Pages
on: [push]
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Setup locale
      run: |
        sudo locale-gen en_US.UTF-8
        sudo update-locale
    - name: Checkout
      uses: actions/checkout@master
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Build and Commit
      uses: sphinx-notes/pages@master
      with:
        documentation_path: doc
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
